[Unit]
Description=CamillaDSP
After=sound.target

[Service]
User=jaspertech
ExecStart=/usr/local/bin/camilladsp /home/jaspertech/.config/camilladsp/config.yml
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
