[Unit]
Description=CamillaDSP
After=alsa-loopback.service sound.target
Requires=alsa-loopback.service

[Service]
User=jaspertech
ExecStart=/usr/local/bin/camilladsp -p 1234 /home/jaspertech/.config/camilladsp/config.yml
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
