[Unit]
Description=Squeezelite
After=camilladsp.service
Requires=camilladsp.service

[Service]
User=jaspertech
ExecStart=/usr/bin/squeezelite -o hw:Loopback,0 -n "Jasper"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
